.app-title {
  text-align: center;
  background-color: #21CE99;
  color: white;
  font-size: 50px;
  margin-top: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  grid-column: 1/3;
  grid-row: 1;
}
button {
  background-color: #21CE99;
  border: 3px solid grey;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  margin: 5px 20px 5px 20px;
}
a {
  color: #21CE99;
}
input {
  width: 250px;
  height: 50px;
  border-radius: 5px;
  margin-right: 20px;
}
.sign-out-button {
  position: absolute;
  top: 120px;
  left: 91%;
}
.in-game-purchase-button {
  position: absolute;
  top: 120px;
  left: 83%;
}
.purchase-title {
  text-align: center;
  color: #21CE99;
  font-size: 50px;
}
.bean-pic {
  position: absolute;
  top: 40px;
  left: 610px;
}
.purchase-button {
  margin-bottom: 50px;
}
.purchase-modal {
  position: absolute;
  top:30%;
  left: 30%;
  border: 5px solid gray;
  border-radius: 5px;
  z-index: 2;
  background-color: white;
}
.close {
  color: white;
  font-size: 20px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 3px;
  border-radius: 5px;
  background-color: gray;
}
.trending-stock-and-news {
  display: grid;
  grid-template-columns: 1100px 1000px;
  margin-bottom: 10px;
  margin-top: 100px;
}
.trending-stock {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.stock_news {
  width: 1000px;
  color: black;
}
.news-blocks {
  margin-left: 30px;
}
.App {
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: auto auto;
}
.stock-news-section {
  grid-row: 2;
  grid-column: 1/3;
}
.search-stock-overview-section {
  grid-column: 1;
  grid-row: 3;
  margin-left: 50px;
}
.account-overview-section {
  grid-column: 2;
  grid-row: 3;
  margin-top: 200px;
  font-size: 20px;
}
.stock-stats-section {
  grid-row: 4;
  grid-column: 1;
  margin-left: 380px;
}
.stock-stats-block {
  display: grid;
  grid-template-columns: 250px auto;
}
.signin-title {
  color: #21CE99;
  position: absolute;
  left: 940px;
  top: 200px;
}
.sign-in-username {
  position: absolute;
  left: 900px;
  top: 280px;
}
.sign-in-password {
  position: absolute;
  left: 900px;
  top: 350px;
}
.sign-in-button {
  position: absolute;
  left: 870px;
  top: 450px;
}
.sign-up-button {
  position: absolute;
  left: 950px;
  top: 450px;
}
.stock_owned {
  overflow: scroll;
  height: 270px;
  width: 600px;
}
.intervel-change-button {
  margin-left: 300px;
}